body{
    background-color: darkgreen;
    color: darkseagreen;
}
h1{
    margin-left: 6%;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.p1{
    background-color: darkslategray;
    padding: 14px;
    margin-left: 40px;
    margin-right: 50px;
    /* width: 50%; */
    border-width: 5px;
    border-radius: 10px;
    border-color: red;
    border-radius: 10px;
    
    width: 200px;
    height: 50px;
    overflow: auto;
    /* overflow: scroll; */
      
}
.p2{
    background-color: deepskyblue;
    color: indigo;
    padding: 14px;
    margin-left: 40px;
    margin-right: 50px;
    width: 50%;
    font-weight: bold;
}